u1-ico {
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  --line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  overflow-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased; /* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility; /* Support for Safari and Chrome. */
  -moz-osx-font-smoothing: grayscale; /* Support for Firefox. */
  font-feature-settings: 'liga'; /* Support for IE. */
  font-family: var(--u1-ico-font) !important;

  fill:currentColor; /* for svg, dont use `u1-ico > svg { fill:currentColor }` because it can have the attribute fill="none" */

  /* ok? */
  display: inline-block; /* inline-flex has an other baseline? */
  text-align:center;
  vertical-align:middle;
  font-size: 1.5rem; /* 24px Preferred icon size, material-icons */
  /* overflow:hidden
    + prevents layout-shift on font load.
    - But baseline gets to the box instead of the text.
    - Some Icons on some Fonts may get cuted!
  */
}
u1-ico[icon]:before { /* todo if supported: :where([icon]::before) { */
    content:attr(icon);
}


html {
  /* use utf8-icons as default */
  /* see test/emojis.html for unicode emojis */
  /*--u1-ico-font:sans-serif;*/
  --u1-ico-font:'Segoe UI Symbol', 'Noto Emoji', sans-serif; /* noto on linux? */
}


/* inline */
u1-ico[inline] {
  overflow:visible;
  font-size:1em;
  /* vertical-align: text-bottom; zzz */
  /*
    beste option:
    centering using font-relative units
    1ex support: good
    1cap support: only firefox
    https://codepen.io/kizu/pen/dyeXPJP?editors=1100
  */
  vertical-align: -11%;
  /* display: contents; todo? */
  /* margin:auto;  todo: dont stretch if its a flex-item? */
}

/* js loaded icons */
u1-ico > svg {
  /*
  xdisplay:block;
  xvertical-align:middle;
  */
  vertical-align:bottom;
  height:1em;
  width:auto;
  min-width:1em;
  overflow:visible;
  margin:auto;
}
u1-ico path[fill]:not([fill=none]) { /* use currentColor if "fill" is to be filled */
  fill:currentColor;
}
u1-ico path[stroke]:not([stroke="none"]) {
  stroke: currentColor;
}

/* */
u1-ico[state]:before,
u1-ico[state]:after {
  display:none;
}
/*
u1-ico[state] > svg {
  xdisplay:block;
  xheight:1em;
  xmin-width:1em;
  xoverflow:visible;
  xmargin:auto;
}
*/
u1-ico[state=failed]:before {
  display:block;
}
